<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<head th:substituteby="header :: copy"></head>
	
	<h1><p th:text="'Hello, ' + ${name} + '!'" /></h1>

	<div th:if="${#httpServletRequest.remoteUser != null}">
	    <b>User Id : </b><span th:text="${#httpServletRequest.remoteUser}">User Id</span>
	</div>

	<div th:substituteby="footer :: copy"></div>
</body>
</html>